<div class="serviceContant">
    <div class="container">
        <div class="row service-info-row">
            <div class="col-sm-7 text-left">
                <h1 class="animated bounce">高通量测序</h1>

                <h5 class="description animated fadeInLeftBig avatar">
                    <p>高通量测序技术又称“下一代“测序技术或深度测序技术，可以一次性对几十万至几百万条DNA分子进行序列测定。现已广泛应用在基因组测序、基因表达分析、非编码小分子RNA鉴定、转录因子靶基因筛选及DNA甲基化等相关的研究领域。</p>
                    <p>世和基因为客户提供全面的高通量测序解决方案。我们经验丰富的专家团队为客户提供全面高速的测序方案（项目解析及设计，并依据项目特点对文库构建、测序、生物信息学分析等服务制定标准、定制化的解决方案）此外，我们拥有专业，贴心的客服团队，为您项目的每个阶段为您提供项目更新、咨询，并提供售后服务。
                    </p>
                </h5>
            </div>
            <div class="col-sm-5 text-left  animated fadeInUp">
                <div class="Xten animated lightSpeedIn avatar" id="Xten" style="animate-iteration-count: 2;">
                    <img src="/img/hiseqXTen.jpg" />
                </div>
            </div>
        </div>
        <hr/>
        <div class="row service-row" >
            <div class="col-sm-4 col-lg-4 col-md-4 text-center">
                <div class="animated pulse">
                    <div class="avatar">
                        <img src="/img/standalone-ngs-services_110x210.png">
                    </div>
                    <h3><a href="#!/serviceDetail/baolane">高通量包lane测序</a></h3>
                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-4 text-center">
                <div class="animated pulse">
                    <div class="avatar">
                        <img src="/img/rna-seq_110x210.png">
                    </div>
                    <h3>转录组测序</h3>
                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-4 text-center">
                <div class="animated pulse">
                    <div class="avatar">
                        <img src="/img/whole-genome-sequencing_110x210.png">
                    </div>
                    <h3>全基因组测序</h3>
                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-4 text-center">
                <div class="animated pulse">
                    <div class="avatar">
                        <img src="/img/metagenomics_110x210.png">
                    </div>
                    <h3>宏基因组测序</h3>
                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-4 text-center">
                <div class="animated pulse">
                    <div class="avatar">
                        <img src="/img/Amplicon-Sequencing_110x210.png">
                    </div>
                    <h3>扩增子测序</h3>
                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-4 text-center">
                <div class="animated pulse">
                    <div class="avatar">
                        <img src="/img/exome-sequencing_110x210.png">
                    </div>
                    <h3>外显子测序</h3>
                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-4 text-center">
                <div class="animated pulse">
                    <div class="avatar">
                        <img src="/img/bioinformatics_110x210.png">
                    </div>
                    <h3>生物信息学解决方案</h3>
                </div>
            </div>
        </div>
    </div>
</div>