<div class="serviceContant">
    <div class="container">
        <h3>
            订单管理
        </h3>
        <jason-pagecontent action='/orders/getList' conf='paginationConf'>
        <div class="panel panel-success">
                <div class="panel-heading">订单查询
                </div>
                <div class="panel-body">
                    <div class="row form-horizontal">
                      <div class="col-lg-4 form-groupcol-md-4 form-group">
                         <label class="col-sm-4 control-label" for="OrderID">
                              订单ID
                         </label>
                         <div class="col-sm-8">
                              <input class="form-control" type="text" id="OrderID" ng-model="f.OrderID">
                         </div>
                      </div>
                       <div class="col-lg-4 form-group col-md-4">
                         <label class="col-sm-4 control-label" for="OrderType">
                              订单类型
                         </label>
                         <div class="col-sm-8">
                              <input class="form-control" type="text" id="OrderType" ng-model="f.OrderType">
                         </div>
                      </div>
                       <div class="col-lg-4 form-group col-md-4">
                         <label class="col-sm-4 control-label" for="UserName">
                              下单人姓名
                         </label>
                         <div class="col-sm-8">
                              <input class="form-control" type="text" id="UserName" ng-model="f.UserName">
                         </div>
                      </div>
                       <div class="col-lg-4 form-group col-md-4">
                         <label class="col-sm-4 control-label" for="Phone">
                              联系电话
                         </label>
                         <div class="col-sm-8">
                              <input class="form-control" type="text" id="Phone" ng-model="f.Phone">
                         </div>
                      </div>
                       <div class="col-lg-4 form-group col-md-4">
                         <label class="col-sm-4 control-label" for="Instituion">
                              机构地址
                         </label>
                         <div class="col-sm-8">
                              <input class="form-control" type="text" id="Instituion" ng-model="f.Instituion">
                         </div>
                      </div>
                        <div class="col-lg-4 form-group col-md-4">
                         <label class="col-sm-4 control-label" for="ReceiveAddress">
                              收货地址
                         </label>
                         <div class="col-sm-8">
                              <input class="form-control" type="text" id="ReceiveAddress" ng-model="f.ReceiveAddress">
                         </div>
                      </div>
                        <div class="col-lg-4 form-group col-md-4">
                         <label class="col-sm-4 control-label" for="ReceiveWayBill">
                              运单号
                         </label>
                         <div class="col-sm-8">
                              <input class="form-control" type="text" id="ReceiveWayBill" ng-model="f.ReceiveWayBill">
                         </div>
                      </div>
                       <div class="col-lg-4 form-group col-md-4">
                          <button class="btn btn-primary" ng-click="search()">查询</button>
                          <button class="btn btn-primary" ng-click="cancel()">取消</button>
                      </div>
                    </div>
                </div>
        </div>
            <div class="panel panel-success">
                <div class="panel-heading">订单列表
                    <a href="#!/orders/orderDetail?type=add" class="btn btn-primary pull-right " style="margin-top:-5px;" >
                       <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        新增
                    </a>
                </div>
                <table class="table table-striped table-bordered table-condensed table-responsive ">
                    <tr class="animated flash">
                        <td>订单ID</td>
                        <td>项目ID</td>
                        <td>订单类型</td>
                        <td>下单人姓名</td>
                        <td>联系电话</td>
                        <td>机构地址</td>
                        <td>订单状态</td>
                        <td>审核状态</td>
                        <td>收货地址</td>
                        <td>运单号</td>
                        <td colspan="3" style="width:220px">操作列</td>
                    </tr>
                    <tr ng-repeat='iteam in datas'>
                        <td>[[iteam.OrderID]]</td>
                        <td>[[iteam.ProgrameID]]</td>
                        <td>[[iteam.OrderType]]</td>
                        <td>[[iteam.UserName]]</td>
                        <td>[[iteam.Phone]]</td>
                        <td><jason-select source='/admins/getInistitutionLists?' svalue="_id" stext="InsititutionString" class="form-control" type="text" id="Instituion" ng-model="iteam.Instituion" disabled=""></jason-select></td>
                        <td>[[iteam.Statues]]</td>
                        <td>[[iteam.CheckStatus]]</td>
                           <td style="width:100px">   <jason-select source='/admins/getAddressList?' svalue="_id" stext="AddressString" class="form-control" type="text"
                                                  id="Address" ng-model="iteam.AcceptAddress"></jason-select></td>
                        <td>[[iteam.ReceiveWayBill]]</td>
                        <td colspan="3" style="width:220px">
                            <div class="btn-group" role="group" aria-label="...">
                                <a class="btn btn-primary" href="#!/orders/orderDetail?OrderID=[[iteam.OrderID]]&type=edit" >编辑查看</a>
                                <a class="btn btn-info" href="#!/orders/printOrder?OrderID=[[iteam.OrderID]]">打印</a>
                                <button class="btn btn-warning">物流</button>
                            </div>
                        </td>
                    </tr>

                </table>
                <jason-pagination conf='paginationConf'></jason-pagination>
            </div>

        </jason-pagecontent>
    </div>
</div>
<script type="text/javascript">
    $("#code").qrcode({
        render: "canvas",
        width: 200,
        height: 200,
        text: toUtf8("18516056824,胡伟,wo,824930117@qq.com")
    });

</script>