<div class="container " ng-controller="orderDetailController">
    <div>
        <div class="panel panel-success">
            <div class="panel panel-heading">
                <h3 class="panel-title">送样信息表基本信息</h3>
            </div>
            <div class=" panel-body">
                <table class="table table-striped table-bordered table-condensed table-responsive animated bounceInDown">
                    <tr>
                        <td>送样信息表编号</td>
                        <td>[[detail.OrderID]]</td>
                        <td>项目编号</td>
                        <td>[[detail.ProgrameID]]</td>
                    </tr>
                    <tr>
                        <td>联系人</td>
                        <td>[[detail.UserName]]</td>
                        <td>机构</td>
                        <td>[[detail.InstituionString]]</td>
                    </tr>
                    <tr>
                        <td>收货地址</td>
                        <td>  [[detail.Address]]</td>
                        <td>联系电话</td>
                        <td> [[detail.Phone]]</td>
                    </tr>
                    <tr>
                        <td>测序平台</td>
                        <td>[[ ["Novaseq 6000 S2（仅包FC）","Hiseq X Ten","Hiseq 4000","Miseq","Nextseq 500","MiniSeq"][detail.Platform] ]]</td>
                        <td>读长</td>
                        <td>[[ detail.ReadLength | showReadLine ]]</td>
                    </tr>
                    <tr>
                        <td>送样信息表类型</td>
                        <td>[[ ["文库无需世和混合，包lane","文库需世和混合上机，包lane","需要世和混合上机，不包lane包G","文库无需世和混合，包FC(flow cell)"][detail.OrderType] ]]</td>
                        <td  ng-show="detail.OrderType =='0'||detail.OrderType =='1'">包lane数目</td>
                        <td  ng-show="detail.OrderType =='0'||detail.OrderType =='1'">[[detail.LaneNumber]]</td>
                        <td  ng-show="detail.OrderType =='2'">包G数目</td>
                        <td  ng-show="detail.OrderType =='2'">[[detail.GNumber]]</td>
                    </tr>
                    <tr>
                        <td>标签选择</td>
                        <td>[[  ["单标签","双标签"][detail.MarkType] ]]</td>
                        <td>文库2100结果</td>
                        <td>[[   ["已有2100质检结果（请上传2100原始结果附件）","无2100质检结果，需世和做（收费）","无2100质检结果，不需要"][detail.DocmentResult] ]]</td>
                    </tr>
                    <tr>
                        <td>运单号</td>
                        <td>[[detail.ReceiveWayBill]]</td>
                        <td>运输方式</td>
                        <td>[[detail.CarrType]]</td>
                    </tr>
                    <tr>
                        <td>是否携带硬盘</td>
                        <td>[[ ["是","否"][detail.CarryDisk] ]]</td>
                        <td>硬盘SN码</td>
                        <td>[[detail.CarryDiskString]]</td>
                    </tr>
                    <tr>
                        <td>样本总数</td>
                        <td>[[detail.SampleCount]]</td>
                        <td>每份样本管数</td>
                        <td>[[detail.SampleTubeCount]]</td>
                    </tr>
                    <tr>
                        <td>样本说明</td>
                        <td>[[detail.SampleMemo]]</td>
                        <td>样本物种</td>
                        <td>[[detail.SampleSpecies]]</td>
                    </tr>
                    <tr>
                        <td style="min-width:200px;">建库方法</td>
                        <td colspan="3"  style="word-wrap:break-word; word-break:break-all;" > <p ng-bind-html="detail.BuildFactoryHtmL"></p></td>
                    </tr>
                    <tr>
                        <td >特定序列</td>
                        <td colspan="3"><p ng-bind-html="detail.SpecificSequenceHtmL"></p></td>
                    </tr>
                    <tr>
                        <td>备注</td>
                        <td colspan="3"><p ng-bind-html="detail.OrderMemoHtmL"></td>
                    </tr>
                </table>
                 <div class="panel panel-success" >
                    <div class="panel-heading">样品列表
                    </div>
                    <table class="table table-striped table-bordered table-condensed table-responsive order-table">
                        <tr class="animated flash">
                            <td class="hidden">送样信息表编号</td>
                            <td class="hidden">送样信息表编号</td>
                            <td>样本编号</td>
                            <td>文库类型</td>
                            <td > [[ ['包lane数量','包lane数量','包G数量','包FC数量'][detail.OrderType] ]]</td>
                            <td>文库插入片段长度<br />（接头+插入片段长度，2100结果）</td>
                            <td>
                                是否拆分数据
                            </td>
                            <td>样品是否在世和</td>
                            <td>摩尔浓度</td>
                            <td>体积</td>
                            <td>要求世和加phix比例</td>
                        </tr>
                        <tr ng-repeat='iteam in samples track by $index'>
                            <td >[[iteam.SampleID]]</td>
                            <td> [[iteam.SampleType]]</td>
                            <td>[[iteam.SampleAmmount]]</td>
                            <td>[[iteam.PartLength]]bp</td>
                            <td >
                                [[iteam.Split]]
                            </td>
                            <td>
                                [[iteam.AtShiHe]]
                            </td>
                            <td>[[iteam.Concentration]]nM</td>
                            <td>[[iteam.Volume]]μl</td>
                            <td>[[iteam.Phix]]%</td>
                            
                        </tr>
                    </table>
                </div> 
                   <div class="panel panel-success" >
                    <div class="panel-heading">附件列表
                    </div>
                    <table class="table table-striped table-bordered table-condensed table-responsive order-table">
                        <tr class="animated flash">
                           <th width="50%">附件名称</th>
                           <th >附件大小</th>
                        </tr>
                        <tr ng-repeat='itemfile in uploader.queue'>
                             <td>
                                <a href=[["/files/"+itemfile.file.alias]] download=[[itemfile.file.name]]>
                                <strong>[[itemfile.file.name]]</strong>
                                </a>
                            </td>
                            <td  nowrap>[[(itemfile.file.size/1024/1024).toFixed(2)]]MB</td>
                            
                        </tr>
                    </table>
                </div> 
                 <div class="form-group text-right " style=" padding-right:200px;">
                     签名：
                </div>
                <div class="form-group text-right " style=" padding-right:200px;">
                    日期：
                </div>
            </div>
        </div>
        
        <div class="form-group text-center noprint">
                <a class="btn btn-primary btn-lg" ng-click="operate1()">审核</a>
        </div>
    </div>
    <div id="result-modal-remark" class="modal fade" tabindex="-1" role="dialog">
        <input type="hidden" ng-model="index">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">备注</h4>
                </div>
                <div class="modal-body row">
                    <div class="col-sm-6">
                        <label for="">客户反馈</label>
                        <textarea cols="30" rows="10" ng-model="remark.feedback"></textarea>
                    </div>
                    <div class="col-sm-6">
                        <label for="">审核意见</label>
                        <textarea cols="30" rows="10" ng-model="remark.checksuggestion"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="check(index,'/orders/orderPass')">通过</button>
                    <button ng-click="check(index,'/orders/orderUnapprove')">作废</button>
                    <button ng-click="hideModel()">取消</button>
                </div>
            </div>
        </div>
  </div>
</div>