<div class="serviceContant" ng-controller="changePwdController">
    <div class="container">
        <h3>
            修改密码
        </h3>
        <div>
            <div class="panel panel-success">
                <div class="panel-heading">密码修改
                </div>
                <div class="panel-body">
                    <div class="row form-horizontal">
                        <form name="baseInfoForm">
                            <div class="form-group ">
                                <label class="col-sm-2  control-label text-left" for="formdata.Account">
                                     原密码
                                 </label>
                                <div class="col-sm-7">
                                    <input name="lastPwd" class="form-control" type="password"  ng-model="lastPwd"  ng-required="true"/>
                                </div>
                                <div class="col-sm-3" style="color: red" ng-show="baseInfoForm.lastPwd.$dirty&&baseInfoForm.lastPwd.$invalid">
                                    请输入原密码
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-2  control-label text-left" for="ProgrameID">
                                     新密码
                                 </label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="password" ng-model="newPwd" ng-change="newPwdEmpty=false"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="OrderType">
                              再次输入新密码
                                   </label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="password" id="ProgrameID" ng-model="confirmPwd"/>
                                </div>
                                <div class="col-sm-3" style="color: red" ng-hide="newPwd==confirmPwd">
                                    两次密码输入不一致
                                </div>
                                <div class="col-sm-3" style="color: red" ng-show="newPwdEmpty">
                                    新密码不能为空
                                </div>
                            </div>
                        </form>
                        <div class="form-group text-center">
                            <button class="btn btn-primary animated fadeInUp btn-lg" ng-click="save()" ng-disabled ="newPwdEmpty||newPwd!=confirmPwd">确认</button>
                            <button class="btn btn-primary btn-lg" ng-click="lastPwd='';newPwd='';confirmPwd=''">清空</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="result-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" ng-bind='modal.title'></h4>
                </div>
                <div class="modal-body">
                    <p ng-bind='modal.body'></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="hideModel()" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="hideModel()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>