<div class="serviceContant">
    <div class="container">
        <div class="row service-info-row">
            <div class="col-sm-7 text-left">
                <h1 class="animated bounce">高通量包lane测序服务</h1>

                <h4 class="description animated fadeInLeftBig">
                    <p>对于一些科研工作者，他们可以在自己实验室进行高通量测序但又希望将部分NGS工作外包，世和基因可为其提供各个环节的NGS服务，协助客户优化实验方案，改善数据质量，同时帮助客户节约时间，使客户能将精力集中在项目的其他方面。</p>
                    <ul>
                        <li>核酸提取
                        </li>
                        <li>文库制备
                        </li>
                        <li>测序
                        </li>
                        <li>生物信息分析
                        </li>
                    </ul>
                </h4>
            </div>
            <div class="col-sm-5 text-left  animated fadeInUp">
                <div class="Xten animated lightSpeedIn" id="Xten" style="animate-iteration-count: 2;">
                    <img src="/img/hiseqXTen.jpg" />
                </div>
            </div>
        </div>
        <hr/>
        <div class="detail-info">
            <h3 class="text-center">文库制备</h3>
            <hr/>
            <p>对于想要单独进行文库制备的客户，世和基因可为其提供独立服务，并为高通量测序工作制备文库。我们可以接收已纯化的核酸样品，也可以对多种类型的样品进行核酸提取。我们可以根据您的选择，交付单独的文库和/或混合后的文库。我们对所有文库均进行完善的质量控制，并保存在干冰中交付。世和基因还可以免费保存文库，用于后续NGS的各项应用。我们为下列应用提供文库制备服务：转录组测序、扩增子测序、全基因组测序、外显子组测序、靶向测序/目标区域测序和癌症突变位点检测。
        </div>
        <div class="detail-info">
            <h3 class="text-center">高通量包lane测序</h3>
            <hr/>
            <p>对于想要自行制备NGS文库的客户，世和基因提供快速的、成本低廉的测序解决方案。我们接受单一index的文库和预混合的文库。世和基因对所有预制文库进行免费的质量检测，并在24小时内向客户报告结果。质量检测需要进行Qubit和Agilent2100
                Bioanalyzer分析，然后通过qPCR进行最终定量，最后上机测序。世和基因可为您提供各类NGS平台（Illumina HiSeq X Ten，HiSeq，MiSeq，PacBio Sequel和Ion PGM™）进行测序，并根据客户项目选择最佳配置。/或混合后的文库。我们对所有文库均进行完善的质量控制，并保存在干冰中交付。世和基因还可以免费保存文库，用于后续NGS的各项应用。我们为下列应用提供文库制备服务：转录组测序、扩增子测序、全基因组测序、外显子组测序、靶向测序/目标区域测序和癌症突变位点检测。
        </div>
        <div class="detail-info">
            <h3 class="text-center">独立生物信息学分析</h3>
            <hr/>
            <p>
                世和基因生物信息学解决方案为研究人员提供有效分析并管理海量数据的必要工具。客户可向世和基因提供其NGS中的原始数据。世和基因经验丰富的生物信息学专家将分析该数据并提供详细报告。世和基因的科学专家还将免费提供售后服务，帮助客户解释该分析报告。如需了解世和基因数据分析包的更多详细信息，请访问我们的生物信息学页面。/或混合后的文库。我们对所有文库均进行完善的质量控制，并保存在干冰中交付。世和基因还可以免费保存文库，用于后续NGS的各项应用。我们为下列应用提供文库制备服务：转录组测序、扩增子测序、全基因组测序、外显子组测序、靶向测序/目标区域测序和癌症突变位点检测。
        </div>

        <div class="detail-info">
            <h3 class="text-center">相关服务</h3>
            <hr/>

            <div class="row service-row">
                <div class="col-sm-4 col-lg-4 col-md-4 text-center">
                    <div class="animated pulse">
                        <div>
                            <img src="/img/rna-seq_110x210.png">
                        </div>
                        <h3>转录组测序</h3>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4 text-center">
                    <div class="animated pulse">
                        <div>
                            <img src="/img/whole-genome-sequencing_110x210.png">
                        </div>
                        <h3>全基因组测序</h3>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4 text-center">
                    <div class="animated pulse">
                        <div>
                            <img src="/img/metagenomics_110x210.png">
                        </div>
                        <h3>宏基因组测序</h3>
                    </div>
                </div>

            </div>
        
        
        </div>
        <div class="text-center" style="margin-bottom:20px;">
            <a class="btn btn-primary btn-lg">咨询</a>
        </div>
    </div>
</div>